import random

def name_to_number(name):
    if (name == 'rock'):
        return 0
    elif (name == 'Spock'):
        return 1
    elif (name == 'paper'):
        return 2
    elif (name == 'lizard'):
        return 3
    else:
        return 4


def number_to_name(number):
    if (number == 0):
        return 'rock'
    elif (number == 1):
        return 'Spock'
    elif (number == 2):
        return 'paper'
    elif (number == 3):
        return 'lizard'
    else:
        return 'scissors'


def rpsls(player_choice):
    print('--------')
    n=input("您的选择")
    print(n+ player_choice)
    player_number = name_to_number(player_choice)
    comp_number = random.randrange(0, 5)
    comp_choice = number_to_name(comp_number)
    print('电脑的选择' + comp_choice)
    difference = (comp_number - player_number) % 5
    if (difference == 0):
        print('平局!')
    elif (difference == 1 or difference == 2):
        print('电脑赢了!')
    else:
        print('您赢了!')

rpsls("rock")
rpsls("Spock")
rpsls("paper")
rpsls("lizard")
rpsls("scissors")
